{% extends "account/base.html" %}

{% block head_title %} Connexion annulée {% endblock head_title %}

{% block account_content_body %}
    {% url 'account_login' as login_url %}
    
    <div class="mb-4">
        <h1 class="mb-1 font-weight-bold">Échec de la connexion au réseau social</h1>

        <p>
            Vous avez décidé d'annuler la connexion à notre site en utilisant l'un de vos comptes existants.
            S'il s'agit d'une erreur, veuillez passer à la <a href="{{ login_url }}"> connexion </a>.
        </p>
    </div>
{% endblock account_content_body %}