{% extends "_base.html" %}

{% block head_title %} {% endblock head_title %}

{% comment %} base account template {% endcomment %}

{% block page_content %}

    <div class="container-fluid">
        <div class="row justify-content-center min-vh-100">
            <div class="col-lg-6 col-md-10 p-12 mb-md-0">
                <div class="p-8">
                    {% block message %}
                    
                    {% endblock message %}
                    
                    {% block account_content_body %}
                    {% endblock account_content_body %}
                </div>
            </div>

            <div class="col-lg-6 bg-primary d-none d-xl-inline-block img-right" style="background-image: url('{{ STATIC_PREFIX }}img/blogpost-1.jpg')">
                <div class="p-12">
                    <p class="text-white text-justify p-10">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quo molestias, a,
                        cumque excepturi, suscipit earum sapiente nam praesentium
                        id debitis facilis! Est, fugiat voluptas blanditiis ad molestiae harum aliquam.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}
