{% extends "account/base.html" %}
{% block head_title %} Deconnexion {% endblock head_title %}

{% comment %} page de connexion {% endcomment %}

{% block page_content %}

    {% url 'account_logout' as account_logout %}

    <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center no-gutters min-vh-100">
            <div class="col-lg-5 col-md-8 py-8 py-xl-0">
                <div class="card shadow">
                    <div class="card-body p-6">
                        <div class="mb-4">
                            <a href="{{ home_url }}" title="{{ title }}">
                                <img loading='lazy' src="{{ STATIC_PREFIX }}img/logo-icon.svg" class="mb-4" alt="{{ title }}">
                            </a>

                            <h3 class="mb-1 font-weight-bold">Deconnexion</h3>
                            <span>
                                Vous êtes sûr de vouloir vous déconnecter ?
                            </span>
                        </div>

                        <form method="POST" action="{{ account_logout }}">
                            {% csrf_token %}

                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                            {% endif %}
                            
                            <div>
                                <button type="submit" class="btn btn-primary btn-block">
                                    Se deconnecter
                                </button>
                            </div>
                        </form>

                        <hr class="my-4">

                        <div class="text-center">
                            <span>
                                Retour à votre
                                <a class="font-weight-bold" href="{{ request.user.get_userdetail_url }}">
                                    tableau de bord
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}
