{% extends "account/base.html" %}

{% block head_title %} Réinitialisation du mot de passe {% endblock head_title %}

{% block message %}
    {% include "account/snippets/_snippet_message.html" %}
{% endblock message %}

{% block account_content_body %}
    {% url "home" as home_url %}

    <div class="mb-4">
        <a href="{{ home_url }}" title="{{ title }}">
            <img loading='lazy' src="{{ STATIC_PREFIX }}img/logo-icon.svg" class="mb-4" alt="{{ title }}">
        </a>

        <h3 class="mb-1 font-weight-bold">Réinitialisation du mot de passe</h3>
        {% if user.is_authenticated %}
            {% include "account/teacher/snippet/already_logged_in.html" %}
        {% endif %}
        <p>Nous vous avons envoyé un e-mail. 
        Merci de nous contacter si vous ne le recevez pas d'ici quelques minutes.</p>
    </div>
{% endblock account_content_body %}
