{% extends "account/base.html" %}

{% block head_title %} Définir un mot de passe {% endblock head_title %}

{% block message %}
    {% include "account/snippets/_snippet_message.html" %}
{% endblock message %}

{% block account_content_body %}
    {% url 'account_set_password' as account_set_password %}

    <div class="mb-4">
        <a href="{{ home_url }}">
            <img src="{{ STATIC_PREFIX }}img/logo-icon.svg" class="mb-4" alt="{{ title }}">
        </a>

        <h3 class="mb-1 font-weight-bold">Définir un mot de passe</h3>
        <form method="POST" action="{{ account_set_password }}" class="password_set">
            {% csrf_token %}
            {{ form }}
            <input class="btn btn-primary" type="submit" name="action" value="Définir un mot de passe"/>
        </form>
    </div>
{% endblock account_content_body %}
