{% extends "account/base.html" %}
{% load widget_tweaks %}
{% block head_title %} Réinitialisation du mot de passe {% endblock head_title %}


{% block message %}
    {% include "account/snippets/_snippet_message.html" %}
{% endblock message %}

{% block account_content_body %}
    {% url 'home' as home_url %}
    {% url 'account_signup' as account_signup %}
    {% url 'account_reset_password' as account_reset_password %}

    {% if user.is_authenticated %}
        {% include "account/teacher/snippet/already_logged_in.html" %}
    {% else %}
        <div class="mb-4">
            <a href="{{ home_url }}" title="{{ title }}">
                <img src="{{ STATIC_PREFIX }}img/logo-icon.svg" class="mb-4" alt="{{ title }}">
            </a>

            <h3 class="mb-1 font-weight-bold">Mot de passe oublié ?</h3>
            <p>Vous avez oublié votre mot de passe ? Saisissez votre adresse e-mail ci-dessous,
            et nous vous enverrons un e-mail vous permettant de le réinitialiser.</p>
        </div>

        <form method="POST" action="{{ account_reset_password }}">
            {% csrf_token %}

            <div class="form-group">
                {{ form.email|add_label_class:"form-label" }}
                {% render_field form.email|attr:"type:email" class+="form-control" placeholder=form.email.label %}
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary btn-block">
                    Envoyer le lien de réinitialisation
                </button>
            </div>
            <span>Retourner à la page <a class="font-weight-bold" href="{{ account_signup }}">d'inscription</a></span>
        </form>

        <hr class="my-4">

        <div class="mt-4 text-center">
            <p>Veuillez nous contacter si vous avez des difficultés à réinitialiser votre mot de passe.</p>
        </div>
    {% endif %}
{% endblock account_content_body %}
