{% extends "account/base.html" %}

{% block head_title %} Changer votre mot de passe {% endblock head_title %}

{% block message %}
    {% include "account/snippets/_snippet_message.html" %}
{% endblock message %}

{% block account_content_body %}
    {% url "home" as home_url %}

    <div class="mb-4">
        <a href="{{ home_url }}" title="{{ title }}">
            <img width="80" height="80" loading='lazy' src="{{ STATIC_PREFIX }}img/logo.png" class="mb-4" alt="{{ title }}">
        </a>

        <h3 class="mb-1 font-weight-bold">Changer votre mot de passe</h3>
        <p>Votre mot de passe a été modifié avec succes.</p>
    </div>
{% endblock account_content_body %}
