{% extends "account/base.html" %}
{% load widget_tweaks %}
{% block head_title %} S'inscrire {% endblock head_title %}

{% comment %} page d'inscription {% endcomment %}

{% block message %}{% endblock message %}

{% block account_content_body %}
    {% url 'home' as home_url %}
    {% url 'account_login' as account_login %}
    {% url 'account_signup' as account_signup %}
    {% url 'pages:page_cgu' as page_cgu %}

    <div class="mb-4">
        <a href="{{ home_url }}" title="{{ title }}">
            <img loading='lazy' src="{{ STATIC_PREFIX }}img/logo-icon.svg" class="mb-4" alt="{{ title }}">
        </a>

        <h3 class="mb-1 font-weight-bold display-3 text-capitalize">inscription</h3>
        <span>
            Vous avez déjà un compte ?
            <a href="{{ account_login }}" class="ml-1">Connectez-vous</a>
        </span>
    </div>

    <form id="signup_form" method="post" action="{{ account_signup }}" novalidate>
        {% csrf_token %}

        <div class="form-group">
            {{ form.first_name|add_label_class:"form-label" }}
            <div class="input-group">
                {% render_field form.civility|add_error_class:"is-invalid" class+="custom-select w-25" %}
                {% render_field form.first_name|add_error_class:"is-invalid" class+="form-control w-75" placeholder=form.first_name.label %}
            
                {% if form.first_name.errors %}
                    <small class="text-muted">
                        {% for error in form.first_name.errors %}
                            {{ error }}
                        {% endfor %}
                    </small>
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            {{ form.last_name|add_label_class:"form-label" }}
            {% render_field form.last_name|add_error_class:"is-invalid" class+="form-control" placeholder=form.last_name.label %}
            
            {% if form.last_name.errors %}
                <small class="text-muted">
                    {% for error in form.last_name.errors %}
                        {{ error }}
                    {% endfor %}
                </small>
            {% endif %}
        </div>
        

        <div class="form-group">
            {{ form.email|add_label_class:"form-label" }}
            {% render_field form.email|attr:"type:email"|add_error_class:"is-invalid" class+="form-control" placeholder=form.email.label %}
            
            {% if form.email.errors %}
                <small class="text-muted">
                    {% for error in form.email.errors %}
                        {{ error }}
                    {% endfor %}
                </small>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.type|add_label_class:"form-label" }}
            <div class="input-group">
                {% render_field form.type|add_error_class:"is-invalid" class+="form-control custom-select" %}
            </div>
        </div>

        <div class="form-group">
            {{ form.password1|add_label_class:"form-label" }}
            {% render_field form.password1|attr:"type:password"|add_error_class:"is-invalid" class+="form-control" placeholder="**************" %}
            
            {% if form.password1.errors %}
                <small class="text-muted">
                    {% for error in form.password1.errors %}
                        {{ error }}
                    {% endfor %}
                </small>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.password2|add_label_class:"form-label" }}
            {% render_field form.password2|attr:"type:password"|add_error_class:"is-invalid" class+="form-control" placeholder="**************" %}
            
            {% if form.password2.errors %}
                <small class="text-muted">
                    {% for error in form.password2.errors %}
                        {{ error }}
                    {% endfor %}
                </small>
            {% endif %}
        </div>

        <div class="form-group">
            <div class="custom-control custom-switch">
                {% render_field form.privacy|attr:"type:checkbox" class+="custom-control-input" %}
                <label class="custom-control-label" for="{{ form.privacy.id_for_label }}">
                    <span>J'accepte les <a href="{{ page_cgu }}">Conditions d'utilisation </a> et
                        <a href="{{ page_cgu }}">Politique de confidentialité.</a>
                    </span>
                </label>
            </div>
        </div>

        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
        {% endif %}

        <div>
            <button type="submit" class="btn btn-primary btn-block">
                Créez votre compte
            </button>
        </div>
    </form>

    <hr class="my-3">

    <div class="mt-2 text-center">
        <p class="font-weight-bold">Continuez avec</p>
        {% include "account/teacher/snippet/_snippet_socialaccount.html" %}
    </div>
{% endblock account_content_body %}

{% block ajax_javascript %}
    <!-- soumission du formulaire via ajax -->
    <script>
        $(document).ready(function () {
            $('#id_email').change(function () {
                var form_data = $(this).closest("form");
                var data_url = "{% url 'accounts:check_validate_data' %}";

                // create an AJAX call
                $.ajax({
                    // get the form data
                    type: 'GET',
                    url: data_url,
                    dataType: 'json',
                    data: form_data.serialize(),

                    // on success
                    success: function (response) {
                        // verify email data
                        if (response.email_is_taken == true) {
                            $('#id_email').removeClass('is_valid').addClass('is-invalid');
                            $('#id_email').after(
                                '<small class="text-warning font-weight-bold" id="emailError">Désolé, \
                                    cette adresse email est déjà utilisé par un autre utilisateur !\
                                </small>');
                        } else {
                            $('#id_email').removeClass('is-invalid').addClass('is-valid');
                            $('#emailError').remove();
                        }
                    },

                    // on error
                    error: function (response) {
                        // alert the error if any error occured
                        alert(response.responseJSON.errors);
                        console.log(response.responseJSON.errors)
                    }
                });

                return false;
            });
        });
    </script>        
{% endblock ajax_javascript %}