[settings]
known_third_party = allauth,distutils,dj_database_url,django,django_countries,django_filters,django_summernote,dotenv,faker,markdown,phonenumber_field,phonenumbers,readtime,rest_framework,taggit
