[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
argon2-cffi = "*"
django-3-jet = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
gunicorn = "*"
feedparser = "*"
django-allauth = "*"
django-widget-tweaks = "*"
babel = "*"
django-countries = "*"
psycopg2-binary = "*"
markdown = "*"
djangorestframework = "*"
django-filter = "*"
django-cors-headers = "*"
django-taggit = "*"
django-summernote = "*"
django-compressor = "*"
readtime = "*"
python-dotenv = "*"
dj-database-url = "*"
whitenoise = {extras = ["brotli"], version = "*"}

[dev-packages]
flake8 = "*"
django-debug-toolbar = "*"
isort = "*"
black = "*"
pre-commit = "*"

[requires]
python_version = "3.8"
