<div class="py-6 py-lg-10">
    <div class="container">
        <div class="row mb-4 justify-content-center">
            <div class="col-lg-11 col-md-12">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12 mb-4">
                        <div class="avatar-group me-5">
                            <span class="avatar avatar-lg">
                                <img alt="avatar" src="{{ STATIC_PREFIX }}img/avatar-1.jpg" class="rounded-circle">
                            </span>

                            <span class="avatar avatar-lg">
                                <img alt="avatar" src="{{ STATIC_PREFIX }}img/avatar-2.jpg" class="rounded-circle">
                            </span>

                            <span class="avatar avatar-lg">
                                <img alt="avatar" src="{{ STATIC_PREFIX }}img/avatar-1.jpg" class="rounded-circle">
                            </span>

                            <span class="avatar avatar-lg ">
                                <img alt="avatar" src="{{ STATIC_PREFIX }}img/avatar-2.jpg" class="rounded-circle">
                            </span>

                            <span class="avatar avatar-lg avatar-danger">
                                <span class="avatar-initials rounded-circle fs-5 fw-bold">1M+</span>
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-5 col-12 mb-6">
                        <h1 class="display-3 fw-bold">Become an Instructor</h1>
                    </div>

                    <div class="offset-lg-1 col-lg-6 col-md-7 col-12 mb-6">
                        <p class="lead">Top instructors from around the world teach millions of students on Geeks. We provide the tools and skills to teach what you love</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12 mb-3">
                        <h3 class="fw-semi-bold mb-2">Earn money</h3>
                        <p class="fs-4">
                            Earn money every time a student purchases your course. Get paid monthly through
                            <span class="text-dark">Paypal </span>or
                            <span class="text-dark">Payoneer</span>.
                        </p>
                    </div>

                    <div class="col-lg-4 col-md-4 col-12 mb-3">
                        <h3 class="fw-semi-bold mb-2">Inspire students</h3>
                        <p class="fs-4">
                            Help people learn new skills, advance their careers, and explore their hobbies by sharing your knowledge.
                        </p>
                    </div>

                    <div class="col-lg-4 col-md-4 col-12 mb-3">
                        <h3 class="fw-semi-bold mb-2">Join our community</h3>
                        <p class="fs-4">
                            Take advantage of our active community of instructors to help you through your course creation process.
                        </p>
                    </div>
                    <div class="col-md-12 mt-3">
                        <a href="#" class="btn btn-primary"> Start Teaching Today</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
