{% extends "index.html" %}
{% load boards_tags %}

{% block head_title %} {{ page_title|capfirst }} {% endblock head_title %}

{% block page_content %}
    {% include "courses/snippets/_snippet_courses_header.html" %}

    <div class="pb-8">
        <div class="container">
            <div class="row">
                <!--  <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    <div class="flush-nav">
                        <nav class="nav">
                            <a class="nav-link active pl-0" href="#!">Tous</a>
                            <a class="nav-link" href="#">Entrepreneuriat</a>
                            <a class="nav-link" href="#">Informatique</a>
                            <a class="nav-link" href="#">Cuisine</a>
                            <a class="nav-link" href="#">Marketing</a>
                            <a class="nav-link" href="#">Informatique</a>
                            <a class="nav-link" href="#">Cuisine</a>
                            <a class="nav-link" href="#">Marketing</a>
                            <a class="nav-link" href="#">Informatique</a>
                        </nav>
                    </div>
                </div> -->

                {% for teacher in teacher_list %}
                    {% include "account/teacher/snippet/_snippet_teacher_card.html" with object=teacher %}
                {% empty %}
                    <p class="text-center display-3">Aucun instructeur disponible.</p>
                {% endfor %}
                {% include "includes/snippets/_snippet_paginate.html" %}
            </div>
        </div>
    </div>
{% endblock page_content %}

{% block ajax_javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#search-input').on('keypress', function () {
                $('#search-spinner').addClass(
                    "spinner-border spinner-border-sm mr-2"
                );
            })
        });
    </script>
{% endblock ajax_javascript %}
