{% load boards_tags %}

<article class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <div class="position-relative">
                {% if object.instructor.avatar %}
                    <img class="avatar-xl rounded-circle" src="{{ object.instructor.avatar.url }}" alt="user-{{ object.instructor.first_name|slugify }}">
                    {% else %}
                        {{ object.instructor.email|gravatar:80 }}
                {% endif %}

                <a href="{{ teacher_profile_url }}" class="position-absolute mt-2 ml-n3" data-toggle="tooltip" data-placement="top" title="Compte vérifié">
                    <img src="{{ STATIC_PREFIX }}img/checked-mark.svg" alt="{{ object.instructor.first_name|slugify }}" height="30" width="30"/>
                </a>
            </div>

            <div class="ml-4">
                <h4 class="mb-0">{{ object.instructor.first_name|safe }}</h4>
                <p class="mb-1 font-size-xs">{{ object.instructor.statut|capfirst|striptags|safe }}</p>
                <span class="font-size-xs">
                    <span class="text-warning">4.5</span>
                    <span class="mdi mdi-star text-warning mr-2"></span>
                    Évaluation de l'instructeur
                </span>
            </div>
        </div>

        <div class="border-top row mt-3 border-bottom mb-3 no-gutters">
            <div class="col">
                <div class="pr-1 pl-2 py-3">
                    <h5 class="mb-0">{{ object.instructor.get_posts_count }}</h5>
                    <span>Article{{ object.instructor.get_posts_count|pluralize }}</span>
                </div>
            </div>

            <div class="col border-left">
                <div class="pr-1 pl-3 py-3">
                    <h5 class="mb-0">{{ object.instructor.get_teacher_courses_count }}</h5>
                    <span>Course{{ object.instructor.get_teacher_courses_count|pluralize }}</span>
                </div>
            </div>

            <div class="col border-left">
                <div class="pr-1 pl-3 py-3">
                    <h5 class="mb-0">12,230</h5>
                    <span>Commentaires</span>
                </div>
            </div>
        </div>

        <p>
            {{ object.instructor.brief_desc|striptags|safe }}
        </p>

        <a href="{{ object.instructor.get_teacher_detail_url }}" class="btn btn-outline-white btn-sm">
        Voir le profile</a>
    </div>
</article>
