{% extends "dashboard/_base.html" %}

{% block dashboard_subheader %}
    <div class="mb-2 mb-lg-0">
        <h1 class="mb-1 h2 font-weight-bold">
            {{ page_title|capfirst }}
        </h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ request.user.get_userdetail_url }}">Dashboard</a>
                </li>

                <li class="breadcrumb-item">
                    <a href="{{ request.user.get_userupdate_url }}">Paramètres</a>
                </li>
                
                <li class="breadcrumb-item active" aria-current="page">
                    {{ page_title|capfirst }}
                </li>
            </ol>
        </nav>
    </div>
{% endblock dashboard_subheader %}


{% block teacher_content %}
    {% url "home" as home_url %}

    <div class="card">
        <div class="card-header">
            <h3 class="mb-0">Suppression de votre compte</h3>
            <p class="mb-0">Supprimer ou fermer définitivement votre compte.</p>
        </div>

        <div class="card-body p-4">
            <span class="text-danger h4">Avertissement</span>
            
            <p>
                Si vous fermez votre compte, vous serez désinscrit de tous vos 0 cours,
                et vous en perdrez l'accès pour toujours.
            </p>

            <form method="post">
                {% csrf_token %}

                <div>
                    <button type="submit" class="btn btn-danger font-weight-bold">
                        <i class="fe fe-trash mr-1"></i>
                        Supprimer mon compte
                    </button>

                    <a href="{{ request.user.get_userdetail_url }}" class="btn btn-light">
                    Annuler</a>
                </div>
            </form>
        </div>
    </div>
{% endblock teacher_content %}
