{% extends "dashboard/teacher/base.html" %}

{% load widget_tweaks boards_tags %}

{% block teacher_content %}
    <div class="card">

        <div class="card-header">
            <h3 class="mb-0">Détails du profil</h3>
            <p class="mb-0">
                Vous avez le contrôle total pour gérer les paramètres de votre propre compte.
            </p>
        </div>

        <div class="card-body">
            <div class="d-lg-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center mb-4 mb-lg-0">
                    {{ email|gravatar:80 }}
                    <div class="ml-3">
                        <h4 class="mb-0">Votre avatar</h4>
                        <p class="mb-0">
                            PNG ou JPG ne dépassant pas 800px de largeur et de hauteur.
                        </p>
                    </div>
                </div>
            </div>

            <hr class="my-5"/>
            
            <div>
                <h4 class="mb-0">Informations personnelles</h4>
                <p class="mb-4">
                    Modifiez vos informations personnelles et votre adresse.
                </p>

                <form class="form-row" method="POST">
                    {% csrf_token %}

                    <div class="form-group col-12 col-md-6">
                        {{ form.first_name|add_label_class:"form-label" }}
                        <div class="input-group">
                            {% render_field form.civility|add_error_class:"is-invalid" class+="custom-select w-25" %}
                            {% render_field form.first_name|add_error_class:"is-invalid" class+="form-control w-75" placeholder=form.first_name.label %}
                        </div>
                    </div>

                    <div class="form-group col-12 col-md-6">
                        {{ form.last_name|add_label_class:"form-label" }}
                        {% render_field form.last_name|add_error_class:"is-invalid" class+="form-control" placeholder=form.last_name.label %}
                    </div>

                    <div class="form-group col-12 col-md-6">
                        {{ form.type|add_label_class:"form-label" }}
                        <div class="input-group">
                            {% render_field form.type|add_error_class:"is-invalid" class+="custom-select" %}
                        </div>
                    </div>

                    <div class="form-group col-12 col-md-6">
                        <label class="form-label" for="{{ form.username.id_for_label }}">Pseudo :</label>
                        {% render_field form.username|add_error_class:"is-invalid" class+="form-control" placeholder="Entrer votre pseudo" %}
                    </div>

                    <div class="form-group col-12 col-md-6">
                        <label class="form-label">State</label>
                        <select class="selectpicker" data-width="100%">
                            <option value="">Select State</option>
                            <option value="1">Gujarat</option>
                            <option value="2">Rajasthan</option>
                            <option value="3">Maharashtra</option>
                        </select>
                    </div>

                    <div class="form-group col-12 col-md-6">
                        <label class="form-label">Country</label>
                        <select class="selectpicker" data-width="100%">
                            <option value="">Select Country</option>
                            <option value="1">India</option>
                            <option value="2">UK</option>
                            <option value="3">USA</option>
                        </select>
                    </div>

                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">
                            Mise à jour du profil
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock teacher_content %}
