{% comment %} partial sidebar for tearcher {% endcomment %}

{% load boards_tags %}
{% url "home" as home_url %}
{% url "boards:teacher_list_cours_url" user.uuid as teacher_list_cours_url %}
{% url "boards:teacher_profil_privacy_url" user.uuid as teacher_profil_privacy_url %}

<nav class="navbar-vertical navbar">
    <div class="nav-scroller">
        <a class="navbar-brand" href="{{ home_url }}">
            <img src="{{ STATIC_PREFIX }}img/logo_inverse_tutosen.svg" alt="{{ title }}" />
        </a>

        <ul class="navbar-nav flex-column" id="sideNavbar">
            {% ifequal request.user.type 'TEACHER' %}
            <li class="nav-item">
                <a target="_blank" class="nav-link font-weight-bold" href="{{ request.user.get_teacher_detail_url }}">
                    <i class="fe fe-globe nav-icon mr-2"></i>
                    See your profile
                </a>
            </li>
            {% endifequal %}

            <li class="nav-item">
                <div class="nav-divider"></div>
            </li>

            <li class="nav-item">
                <a class="nav-link {% active_link 'user_detail' %}" href="{{ request.user.get_userdetail_url }}">
                    <i class="nav-icon fe fe-home mr-2"></i>
                    Dashboard
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link {% active_link 'user_detail' %}" href="#!" data-toggle="collapse"
                    data-target="#navCours" aria-expanded="false" aria-controls="navCours">
                    <i class="nav-icon fe fe-book mr-2"></i> Courses
                </a>

                <div id="navCours" class="collapse" data-parent="#sideNavbar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link {% active_link 'teacher_list_cours_url' %}"
                                href="{{ teacher_list_cours_url }}">
                                Courses
                            </a>
                        </li>

                        {% ifequal request.user.type 'TEACHER' %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Courses Feedback
                            </a>
                        </li>
                        {% endifequal %}
                    </ul>
                </div>
            </li>

            {% ifequal request.user.type 'TEACHER' %}

            <li class="nav-item">
                <a class="nav-link " href="#!" data-toggle="collapse" data-target="#navStudent" aria-expanded="false"
                    aria-controls="navStudent">
                    <i class="nav-icon fe fe-users mr-2"></i>
                    Students
                </a>

                <div id="navStudent" class="collapse" data-parent="#sideNavbar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link {% active_link 'teacher_list_cours_url' %}"
                                href="{{ teacher_list_cours_url }}">
                                Students
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Students enrolled
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="#!" data-toggle="collapse" data-target="#navBlog" aria-expanded="false"
                    aria-controls="navBlog">
                    <i class="nav-icon fe fe-book-open mr-2"></i>
                    Blog
                </a>

                <div id="navBlog" class="collapse" data-parent="#sideNavbar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link {% active_link 'teacher_list_cours_url' %}"
                                href="{{ teacher_list_cours_url }}">
                                Articles
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link {% active_link 'teacher_list_cours_url' %}"
                                href="{{ teacher_list_cours_url }}">
                                New Article
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Feedback
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <div class="nav-divider"></div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#!" data-toggle="collapse" data-target="#navSiteVendor" aria-expanded="false"
                    aria-controls="navSiteVendor">
                    <i class="nav-icon fe fe-shopping-bag mr-2"></i>
                    Store
                </a>

                <div id="navSiteVendor" class="collapse" data-parent="#sideNavbar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Orders</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Earnings</a>
                        </li>
                    </ul>
                </div>
            </li>

            {% endifequal %}

            <li class="nav-item">
                <div class="nav-divider"></div>
            </li>

            <li class="nav-item">
                <div class="navbar-heading">Setting</div>
            </li>

            <li class="nav-item">

            <li class="nav-item">
                <a class="nav-link" href="{{ request.user.get_userupdate_url }}">
                    <i class="fe fe-settings nav-icon mr-2"></i>
                    Parameters
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ teacher_profil_privacy_url }}">
                    <i class="fe fe-lock nav-icon mr-2"></i>
                    Privacy Policy
                </a>
            </li>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="#!">
                    <i class="nav-icon fe fe-help-circle mr-2"></i>
                    Help Center
                </a>
            </li>
        </ul>

        <div class="card bg-light shadow-none mx-4 my-8">
            <div class="card-body py-6">
                <div class="d-flex align-items-center justify-content-between border-bottom pb-3 mb-3">
                    <div>
                        <h4 class="mb-0 font-weight-bold">32</h4>
                        <p class="font-size-xs mb-0">Courses</p>
                    </div>
                    <div>
                        <span><i class="fe fe-file-text font-size-lg"></i></span>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between border-bottom pb-3 mb-3">
                    <div>
                        <h4 class="mb-0 font-weight-bold">11,604</h4>
                        <p class="font-size-xs mb-0">Students</p>
                    </div>
                    <div>
                        <span><i class="fe fe-users font-size-lg"></i></span>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <h4 class="mb-0 font-weight-bold">12,230</h4>
                        <p class="font-size-xs mb-0">Feedback</p>
                    </div>
                    <div>
                        <span><i class="fe fe-star font-size-lg"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card bg-dark-primary shadow-none text-center mx-4 my-8">
            <div class="card-body py-6">
                <img src="{{ STATIC_PREFIX }}img/giftbox.png" alt="giftbox">
                <div class="mt-4">
                    <h5 class="text-white">Unlimited Access</h5>
                    <p class="text-white-50 font-size-xs">
                        Go from a free trial to a business plan. Start now.
                    </p>
                    <a href="#!" class="btn btn-white btn-sm mt-2">Upgrade to a new level</a>
                </div>
            </div>
        </div>
    </div>
</nav>