<div class="col-xl-3 col-lg-3 col-md-4 col-12 mb-4 mb-lg-0">
	<div class="card">
		<div class="card-header">
			<h4 class="mb-0">Filtrer</h4>
		</div>
		<form method="get">
			<div class="card-body border-top">
				<span class="dropdown-header px-0 mb-2">
					{{ filter_course.form.category.label }}
				</span>
				{% for category in filter_course.form.category %}
					<div class="custom-control custom-checkbox mb-1">						
						{{ category.tag }}
						<label class="custom-control-label" for="{{ category.id_for_label }}">
							{{ category.choice_label|capfirst }}
						</label>
					</div>
				{% endfor %}
				<input class="btn btn-sm btn-dark-primary btn-block mt-3" value="search" type="submit" />
			</div>

			<div class="card-body border-top">
				<span class="dropdown-header px-0 mb-2">
					{{ filter_course.form.level.label }}
				</span>
				{% for level in filter_course.form.level %}
					<div class="custom-control custom-checkbox mb-1">
						{{ level.tag }}
						<label class="custom-control-label" for="{{ level.id_for_label }}">
							{{ level.choice_label }}
						</label>
					</div>
				{% endfor %}
				<input class="btn btn-sm btn-dark-primary btn-block mt-3" value="search" type="submit" />
			</div>
		
			<div class="card-body border-top">
				<span class="dropdown-header px-0 mb-2">
					{{ filter_course.form.language.label }}
				</span>
				{% for langue in filter_course.form.language %}
					<div class="custom-control custom-checkbox mb-1">
						{{ langue.tag }}
						<label class="custom-control-label" for="{{ langue.id_for_label }}">
							{{ langue.choice_label }}
						</label>
					</div>
				{% endfor %}
				<input class="btn btn-sm btn-dark-primary btn-block mt-3" value="search" type="submit" />
			</div>
		
			<div class="card-body border-top">
				<span class="dropdown-header px-0 mb-2">Évaluation</span>
				<div class="custom-control custom-radio mb-1">
					<input type="radio" class="custom-control-input" id="starRadio1" name="customRadio">
					<label class="custom-control-label" for="starRadio1">
						<i class="mdi mdi-star mr-n1 text-warning"></i>
						<i class="mdi mdi-star mr-n1 text-warning"></i>
						<i class="mdi mdi-star mr-n1 text-warning"></i>
						<i class="mdi mdi-star mr-n1 text-warning"></i>
						<i class="mdi mdi-star text-warning "></i>
						<span class="font-size-xs">4.5 & UP</span>
					</label>
				</div>
			
				<div class="custom-control custom-radio mb-1">
					<input type="radio" class="custom-control-input" id="starRadio2" name="customRadio" checked>
					<label class="custom-control-label" for="starRadio2">
						<i class="mdi mdi-star mr-n1 text-warning"></i>
						<i class="mdi mdi-star mr-n1 text-warning"></i>
						<i class="mdi mdi-star mr-n1 text-warning"></i>
						<i class="mdi mdi-star mr-n1 text-warning"></i>
						<i class="mdi mdi-star text-warning "></i>
						<span class="font-size-xs">4.0 & UP</span>
					</label>
				</div>
			
				<div class="custom-control custom-radio mb-1">
					<input type="radio" class="custom-control-input" id="starRadio3" name="customRadio">
					<label class="custom-control-label" for="starRadio3">
						<i class="mdi mdi-star mr-n1 text-warning"></i>
						<i class="mdi mdi-star mr-n1 text-warning"></i>
						<i class="mdi mdi-star mr-n1 text-warning"></i>
						<i class="mdi mdi-star mr-n1 text-warning"></i>
						<i class="mdi mdi-star text-warning "></i>
						<span class="font-size-xs">3.5 & UP</span>
					</label>
				</div>
			
				<div class="custom-control custom-radio mb-1">
					<input type="radio" class="custom-control-input" id="starRadio4" name="customRadio">
					<label class="custom-control-label" for="starRadio4">
						<i class="mdi mdi-star mr-n1 text-warning"></i>
						<i class="mdi mdi-star mr-n1 text-warning"></i>
						<i class="mdi mdi-star mr-n1 text-warning"></i>
						<i class="mdi mdi-star mr-n1 text-warning"></i>
						<i class="mdi mdi-star text-warning "></i>
						<span class="font-size-xs">3.0 & UP</span>
					</label>
				</div>
			</div>
		</form>
	</div>
</div>
