{% comment %} gabarit: header liste des cours {% endcomment %}

{% load boards_tags %}
{% url 'account_logout' as account_logout %}
{% url 'boards:user_detail' as user_detail %}
{% url 'boards:user_update' as user_update %}
{% url 'boards:user_delete' as user_delete %}
{% url 'boards:teacher_social_account_url' as teacher_social_account_url %}
{% url 'boards:teacher_profil_privacy_url' as teacher_profil_privacy_url %}
{% url 'boards:teacher_notification_url' as teacher_notification_url %}

{% if request.resolver_match.url_name == 'courses_list_url' %}

    <div class="bg-primary py-4 py-lg-6">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    <div>
                        <h1 class="mb-0 text-white display-4">
                        Tous les modules de formations</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% elif request.resolver_match.url_name == 'teacher_list_view' %}
    <div class="pt-8 pb-6">
        <div class="container">
            <div class="row">
                <div class="offset-xl-2 col-xl-8 offset-lg-1 col-lg-10 col-md-12 col-12">
                    <div class="text-center mb-5">
                        <h1 class="display-3 font-weight-bold">Find instructor</h1>
                        <p class=" lead">
                            Our features, journey, tips and us being us.
                            Lorem ipsum dolor sit amet, accumsan in,
                            tempor dictum neque.
                        </p>
                    </div>

                    <form method="GET" class="form-row px-md-auto">
                        <div class="form-group col pl-0">
                            <input id="search-input" role="search" name="q" type="search" class="form-control" placeholder="{% if request.GET.q %}{{ request.GET.q }}{% else %}Find instructor{% endif %}"
                            required>
                        </div>

                        <div class="form-group col-auto pl-0">
                            <button id="search-btn" class="btn btn-primary text-uppercase" type="submit">
                                <div id="search-spinner" role="status" class="" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div> find instructor
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}
