{% load static boards_tags %}
{% get_static_prefix as STATIC_PREFIX %}

<div class="col-lg-4 col-md-6 col-12">
    <article class="card card-hover mb-4 h-100">
        <a href="{{ object.get_absolute_url }}" class="card-img-top">
            <img src="{% if object.image %} {{ object.image.url }}
            {% else %}{{ STATIC_PREFIX }}img/cours/empty.jpg{% endif %}"
            alt="{{ object.title|slugify }}" class="card-img-top rounded-top-md stretched-link"/>
        </a>

        <div class="card-body">
            <span class="font-size-sm font-weight-semi-bold d-block mb-3 text-primary">
                <i class="fe fe-bookmark"></i>
                {{ object.get_category_display|capfirst|safe }}
                &smid; <i class="fe fe-bar-chart mr-1"></i> {{ object.get_level_display|capfirst|safe }}
            </span>

            <h4 class="mb-2 text-truncate-line-2">
                <a href="{{ object.get_absolute_url }}" class="text-inherit">
                    {{ object.title|capfirst|safe }}
                </a>
            </h4>

            <div class="lh-1">
                <span class="text-warning">4.5</span>
                <span class="font-size-xs text-muted">(7,700)</span>
            </div>
        </div>
    </article>
</div>
