{% comment %} partials: footer {% endcomment %}

{% url "home" as home %}
{% url "pages:about_us" as about_us %}
{% url "pages:page_cgu" as page_cgu %}
{% url "pages:page_support" as page_support %}

<style>
    .footer {
        background: #212529;
    }
</style>

<footer class="footer w-100 py-4 flex-shrink-0">
	<div class="container py-4">
        <div class="row py-2">
            <div class="col-lg-3 col-md-6">
                <h5 class="h1 text-white">{{ title|upper }}.</h5>

                <!-- <p class="py-1">
                    {% include "includes/snippets/_snippet_social_link.html" %}
                </p>  -->

                <p class="small text-white font-weight-bold mb-0">
                    &copy; <script>document.write(new Date().getFullYear()); </script>
                     <a class="text-white" href="{{ home }}">{{ title|upper }}</a>
                </p>
            </div>

            <div class="col-lg-3 col-md-6">
                <h5 class="mb-3 text-white font-weight-bold">
                Vous avez besoin d'aide ?</h5>
                
                <ul class="list-unstyled">
                    <li>
                        <a class="text-white" href="mailto:{{ addr_email }}">
                            <i class="mdi mdi-email"></i>
                            {{  addr_email }}
                        </a>
                    </li>
                    <li>
                        <a class="text-white" href="tel://{{ addr_contact }}">
                            <i class="mdi mdi-phone"></i>
                            {{  addr_contact }}
                        </a>
                    </li>
                    <li>
                        <a class="text-white" href="{{ page_support }}">
                            <i class="mdi mdi-alert-circle-outline"></i>
                            F.A.Q
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6">
                <h5 class="mb-3 text-white font-weight-bold">
                Informations utiles</h5>
                <ul class="list-unstyled">
                    <li><a class="text-white" href="{{ about_us }}">Qui sommes-nous ?</a></li>
                    <li><a class="text-white" href="#">Mentions Légales</a></li>
                    <li><a class="text-white" href="{{ page_cgu }}">CGU</a></li>
                    <li><a class="text-white" href="#">Notre Équipe</a></li>
                    <li><a class="text-white" href="#">On recrute !</a></li>
                    <li><a class="text-white" href="#">Devenir partenaires</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6">
                <h5 class="mb-3 text-white">Newsletter</h5>
                <p class="small text-white">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt.</p>
                <form action="#">
                    <div class="input-group mb-3">
                        <input class="form-control" type="email" placeholder="Votre adresse email" aria-label="Votre adresse email" aria-describedby="button-addon2">
                        <button class="btn btn-primary" id="button-addon2" type="button">
                            <i class="fas fa-paper-plane"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>