{% comment %} header navigation {% endcomment %}

{% url 'account_login' as account_login %}
{% url 'account_signup' as account_signup %}
{% url 'account_logout' as account_logout %}
{% url "blog:post_list" as blog_post_url %}
{% url "courses:search" as search_list %}
{% url 'courses:course_list' as course_list_url %}
{% url 'product:product_list' as product_list_view %}

<div class="collapse navbar-collapse" id="navbar-default">
	<ul class="navbar-nav ms-auto">
		<li class="nav-item">
			<a href="{{ course_list_url }}" class="nav-link text-capitalize font-weight-bold">
				cours
			</a>
		</li>

		<li class="nav-item">
			<a href="{{ blog_post_url }}" class="nav-link text-capitalize font-weight-bold">
				blog
			</a>
		</li>

		<li class="nav-item">
			<a href="{{ product_list_view }}" class="nav-link text-capitalize font-weight-bold">
				boutique
			</a>
		</li>

		<li class="nav-item">
			<a href="#" class="nav-link text-capitalize font-weight-bold">
				forum
			</a>
		</li>
	</ul>

	<div class="ms-auto mt-3 mt-lg-0">
		<div class="d-flex align-items-center">
			{% if request.user.is_authenticated %}
				<a class="btn btn-primary ms-1" href="{{ account_signup }}">Mon compte</a>
			{% else %}
				<a class="btn btn-outline-primary ms-3" href="{{ account_login }}">Se connecter</a>
		    	<a class="btn btn-primary ms-1" href="{{ account_signup }}">S'inscrire</a>
			{% endif %}
		</div>
	</div>
</div>
