{% comment %} header navigation {% endcomment %}

{% url 'account_login' as account_login %}
{% url 'account_signup' as account_signup %}
{% url 'account_logout' as account_logout %}
{% url 'courses:courses_list_url' as courses_list_url %}
{% url 'accounts:teacher_list_view' as teacher_list_view %}

<div class="collapse navbar-collapse" id="navbar-default">

	<ul class="navbar-nav navbar-left-wrap mt-3 mt-lg-0">
		<li class="d-inline-block nav-item">
			<a href="{{ courses_list_url }}" class="nav-link text-uppercase font-weight-bold">
				tous les modules
			</a>
		</li>

		<li class="d-inline-block nav-item">
			<a href="{{ teacher_list_view }}" class="nav-link text-uppercase font-weight-bold">
				trouver un instructeur
			</a>
		</li>
	</ul>

	<ul class="navbar-nav navbar-right-wrap ml-auto d-none d-lg-block">

		<li class="d-inline-block">
			<form class="mt-3 mt-lg-0 ml-lg-3 d-flex align-items-center">
				<span class="position-absolute pl-3 search-icon">
					<i class="fe fe-search"></i>
				</span>
				<input type="search" class="form-control pl-6 rounded-0" placeholder="Rechercher...">
			</form>
		</li>

		{% include "includes/snippets/_snippet_navigation.html" %}
	</ul>
</div>
