{% comment %} partials: footer {% endcomment %}

{% url "pages:about_us" as about_us %}
{% url "pages:page_cgu" as page_cgu %}
{% url "pages:page_support" as page_support %}


<footer class="footer flex-shrink-0">
	<div class="container">
        <div class="row align-items-center no-gutters border-top py-2">
            <!-- Desc -->
            <div class="col-md-6 col-12">
                <span>&copy; <script>document.write(new Date().getFullYear());</script> 
                <strong>{{ title|upper }}</strong>. Tous droits réservés.</span>
            </div>
              <!-- Links -->
            <div class="col-12 col-md-6">
                <nav class="nav justify-content-center justify-content-md-end">
                    <a class="nav-link active pl-0" href="{{ about_us }}">Qui sommes-nous ?</a>
                    <a class="nav-link" href="{{ page_cgu }}">CGU</a>
                    <a class="nav-link" href="{{ page_support }}">Support</a>
                </nav>
            </div>
        </div>
    </div>
</footer>
