{% comment %} mobile navigation {% endcomment %}

<ul	class="navbar-nav ms-auto">
	{% include "includes/snippets/_snippet_navigation.html" %}
</ul>

{% comment %} Button {% endcomment %}
<button class="navbar-toggler collapsed btn-dark" type="button" data-toggle="collapse" data-target="#navbar-default"
aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
	<span class="icon-bar top-bar mt-0"></span>
	<span class="icon-bar middle-bar"></span>
	<span class="icon-bar bottom-bar"></span>
</button>
