{% comment %} partials: footer {% endcomment %}

<footer class="footer flex-shrink-0">
	<div class="container">
        <div class="row align-items-center no-gutters border-top py-2">
            <!-- Desc -->
            <div class="col-md-6 col-12">
                <span>© 2020 {{ title|upper }}. Tous droits réservés..</span>
            </div>
              <!-- Links -->
            <div class="col-12 col-md-6">
                <nav class="nav justify-content-center justify-content-md-end">
                    <a class="nav-link active pl-0" href="#!">Privacy Policy</a>
                    <a class="nav-link" href="#!">CGU</a>
                    <a class="nav-link" href="#!">Support</a>
                </nav>
            </div>
        </div>
    </div>
</footer>
