{% comment %}
hero section
{% endcomment %}

{% url 'account_signup' as account_signup %}
{% url 'courses:course_list' as course_list_url %}

<section class="py-lg-10 py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <div class="">
                    <h1 class="display-3 fw-bold mb-3">
                        Bienvenue sur <br>
                        <span class="bg-primary text-white p-1 my-2">{{ title }}</span>
                    </h1>
                    <p class="pe-lg-10 mb-5">
                        Choisissez parmi des centaines de tuteurs, contactez votre tuteur choisi; et commencez votre cours individuel personnalisé à un moment qui vous convient.
                    </p>
                    <a href="{{ course_list_url }}" class="btn btn-primary">
                        Parcourir nos cours
                    </a>
                </div>
            </div>
            <div class="col-lg-6 d-flex justify-content-center">
                <img src="{{ STATIC_PREFIX }}img/girl.png" alt="{{ title }}"></div>
        </div>
    </div>
</section>

{% comment %}features{% endcomment %}
<section class="py-lg-4 py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 border-top-md border-bottom border-end-md">
                <div class="py-5 text-center">
                    <div class="mb-3">
                        <i class="fe fe-award fs-2 text-info"></i>
                    </div>
                    <div class="lh-1">
                        <h2 class="mb-1">+100</h2>
                        <span>Professeurs qualifiés</span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 border-top-md border-bottom border-end-lg">
                <div class="py-5 text-center">
                    <div class="mb-3">
                        <i class="fe fe-users fs-2 text-warning"></i>
                    </div>
                    <div class="lh-1">
                        <h2 class="mb-1">+100</h2>
                        <span>Enseignants et encadreurs experts</span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 border-top-lg border-bottom border-end-md">
                <div class="py-5 text-center">
                    <div class="mb-3">
                        <i class="fe fe-tv fs-2 text-success"></i>
                    </div>
                    <div class="lh-1">
                        <h2 class="mb-1">+200</h2>
                        <span>Vidéos de cours</span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 border-top-lg border-bottom">
                <div class="py-5 text-center">
                    <div class="mb-3">
                        <i class="fe fe-file fs-2 text-success"></i>
                    </div>
                    <div class="lh-1">
                        <h2 class="mb-1">+1000</h2>
                        <span class="mb-0">Ressources en accès libre</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
