<script type="text/javascript" charset="utf-8" src="{{ STATIC_PREFIX }}js/libs/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_PREFIX }}js/libs/jquery.slimscroll.min.js"></script>
<script type="text/javascript" charset="utf-8" rc="{{ STATIC_PREFIX }}js/libs/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_PREFIX }}js/libs/jquery.inputmask.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_PREFIX }}js/libs/jquery.print.js"></script>

<script type="text/javascript" charset="utf-8" src="{{ STATIC_PREFIX }}js/libs/bootstrap.bundle.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_PREFIX }}js/libs/bootstrap-select.min.js"></script>

<script type="text/javascript" charset="utf-8" src="{{ STATIC_PREFIX }}js/libs/clipboard.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_PREFIX }}js/libs/apexcharts.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_PREFIX }}js/libs/file-upload-with-preview.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_PREFIX }}js/libs/tagify.min.js"></script>

<script type="text/javascript" charset="utf-8" src="{{ STATIC_PREFIX }}js/theme.min.js"></script>