{% comment %}jQuery first, then Popper.js, then Bootstrap JS{% endcomment %}

<script src="{{ STATIC_PREFIX }}js/libs/jquery.min.js"></script>
<script src="{{ STATIC_PREFIX }}js/libs/bootstrap.bundle.min.js"></script>

<script src="{{ STATIC_PREFIX }}js/libs/odometer.min.js"></script>
<script src="{{ STATIC_PREFIX }}js/libs/jquery.slimscroll.min.js"></script>
<script src="{{ STATIC_PREFIX }}js/libs/jquery.magnific-popup.min.js"></script>
<script src="{{ STATIC_PREFIX }}js/libs/bootstrap-select.min.js"></script>
<script src="{{ STATIC_PREFIX }}js/libs/flatpickr.min.js"></script>
<script src="{{ STATIC_PREFIX }}js/libs/jquery.inputmask.min.js"></script>
<script src="{{ STATIC_PREFIX }}js/libs/apexcharts.min.js"></script>
<script src="{{ STATIC_PREFIX }}js/libs/quill.min.js"></script>
<script src="{{ STATIC_PREFIX }}js/libs/file-upload-with-preview.min.js"></script>
<script src="{{ STATIC_PREFIX }}js/libs/dragula.min.js"></script>
<script src="{{ STATIC_PREFIX }}js/libs/bs-stepper.min.js"></script>
<script src="{{ STATIC_PREFIX }}js/libs/dropzone.min.js"></script>
<script src="{{ STATIC_PREFIX }}js/libs/jQuery.print.js"></script>
<script src="{{ STATIC_PREFIX }}js/libs/prism.js"></script>
<script src="{{ STATIC_PREFIX }}js/libs/prism-scss.min.js"></script>
<script src="{{ STATIC_PREFIX }}js/libs/tagify.min.js"></script>

{% comment %}clipboard {% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>
<script src="{{ STATIC_PREFIX }}js/theme.min.js"></script>
