{% extends "index.html" %}

{% block head_title %}{{ page_title|capfirst }}{% endblock head_title %}
{% url 'product:product_list' as product_list_view %}

{% block page_content %}
    <section class="py-9">
    	<div class="container">
    		<div class="row">
    			<div class="card">
    				<div class="card-body p-5">
    					<div class="row">
    						<div class="col-lg-6 col-12">
    							<div class="product">
    								<div>
					                    <img src="{{ object.image.url }}" alt="{{ object.title }}">
				                  	</div>
    							</div>

    							<div class="col-lg-6 col-12">
    								<div class="my-5 mx-lg-10">
    									<div>
						                    <h1>{{ object.title }}</h1>
						                    <div>
						                      	<span>
							                      	<span class="me-2 text-dark fw-semi-bold">
							                      		4.4<i class="mdi mdi-star text-success "></i>
							                        </span>592 Customer Reviews
						                    	</span>
						                    </div>
						                 </div>
    								</div>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
{% endblock page_content %}

