<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="my-5">
                <h2>Related Post</h2>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-12">
            <!-- Card -->
            <div class="card mb-4 shadow-lg ">
                <a href="blog-single.html" class="card-img-top"> <img src="../assets/images/blogpost-3.jpg"
                        class="card-img-top rounded-top" alt=""></a>
                <!-- Card body -->
                <div class="card-body">
                    <a href="#!" class="font-size-sm font-weight-semi-bold d-block mb-3 text-primary">Workshop</a>
                    <a href="blog-single.html">
                        <h3>The Best DevOps Tools for Your Application Lifecycle</h3>
                    </a>
                    <p>Inventore pariatur veritatis maxime fugiat sint dolorem officiis nemo quis!
                    </p>
                    <!-- Media content -->
                    <div class="row align-items-center no-gutters mt-4">
                        <div class="col-auto">
                            <img src="../assets/images/avatar-1.jpg" alt="" class="rounded-circle avatar-sm mr-2">
                        </div>
                        <div class="col lh-1">
                            <h5 class="mb-1">Dustin Warren</h5>
                            <p class="font-size-xs mb-0">September 09, 2020</p>
                        </div>
                        <div class="col-auto">
                            <p class="font-size-xs mb-0">12 Min Read</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
