{% extends "index.html" %}

{% block head_title %}{{ page_title|capfirst }}{% endblock head_title %}

{% block page_content %}
    <section  class="py-9">
    	<div class="container">
    		<div class="row">
    			<div class="offset-xl-2 col-xl-8 offset-lg-1 col-lg-10 col-md-12 col-12">
    				<div class="text-center mb-5">
    					<h1 class="display-2 font-weight-bold">Blog &smid; {{ title|title }}</h1>
    					<p class="lead">
    						Retrouver l'actualité du grand bahut.
    					</p>
    				</div>

    				<form class="row px-md-20">
    					<div class="mb-3 col ps-0 ms-2 ms-md-0">
    						<input type="text" class="form-control" placeholder="rechercher un article .." required="">
    					</div>
    					<div class="mb-3 col-auto ps-0">
    						<button class="btn btn-primary" type="submit">Rechercher</button>
    					</div>
    				</form>
		        </div>
        	</div>
    	</div>
    </section >

    <section class="pb-8">
    	<div class="container">
    		<div class="row">
    			{% for post in post_list %}
	    			{% include "blog/snippet/_snippet_post_card.html" with object=post %}
	    		{% empty %}
	    			<p class="text-center">Aucun article disponible.</p>
    			{% endfor %}
    			{% include "includes/snippets/_snippet_paginate.html" %}
    		</div>
    	</div>
    </section>
{% endblock page_content %}

{% block ajax_javascript %}

{% endblock ajax_javascript %}
