<!doctype html>
<html lang="fr">
	<head>
		{% load static %}{% get_static_prefix as STATIC_PREFIX %}

		{% include "includes/_partials_meta.html" %}
		{% include "includes/_static_css_link.html" %}

		<title>
			{% block head_title %}
				{% if page_title %}
					{{ page_title|capfirst }}
				{% else %}
					{{ site_description|capfirst }}
				{% endif %}
			{% endblock head_title %} &smid; {{ title|upper }}
		</title>
	</head>

	<body class="bg-white">
		{% block navigation %}
			{% include "includes/_partials_navigation.html" %}
		{% endblock navigation %}

		<main>
			{% block page_content %}

			{% endblock page_content %}
		</main>

		{% block footer %}
			{% include "includes/_partials_footer.html" %}
		{% endblock footer %}

		{% include "includes/_static_javascript_link.html" %}

		{% block ajax_javascript %}

		{% endblock ajax_javascript %}
	</body>
</html>
