<!doctype html>
<html lang="fr">
	<head>
		{% load static %}{% get_static_prefix as STATIC_PREFIX %}

		{% include "includes/_partials_meta.html" %}
		{% include "includes/_static_css_link.html" %}
		
		<title>
			{% block head_title %}
				{% ifequal page_title 'page_title' %}
					{{ page_title|capfirst }}
				{% else %}
					{{ site_description|capfirst }}
				{% endifequal %}
			{% endblock head_title %} &smid; {{ title|upper }}
		</title>
	</head>

	<body onselectstart="return false" oncontextmenu="return false" ondragstart="return false" onMouseOver="window.status='..message perso .. '; return true;" >
		{% block navigation %}
		
		{% endblock navigation %}

		<main>
			{% block page_content %}
			
			{% endblock page_content %}
		</main>

		{% block footer %}

		{% endblock footer %}

		{% include "includes/_static_javascript_link.html" %}

		{% block ajax_javascript %}
			
		{% endblock ajax_javascript %}
	</body>
</html>
