<!doctype html>
<html lang="fr">
	<head>
		{% load static %}{% get_static_prefix as STATIC_PREFIX %}

		{% include "includes/_partials_meta.html" %}
		{% include "includes/_static_css_link.html" %}
		
		<title>
			{% block title %}
				{% if page_title %}
					{{ page_title|capfirst }}
				{% else %}
					{{ site_description|capfirst }}
				{% endif %} &smid; {{ title|upper }}
			{% endblock title %}
		</title>
	</head>

	<body class="d-flex flex-column">
		{% if not request.resolver_match.url_name == 'login_url' and not request.resolver_match.url_name == 'signup_url' and not request.resolver_match.url_name == 'password_reset_url' %}
			{% include "includes/_partials_navigation.html" %}
			{% if not request.resolver_match.url_name == 'teacher_add_course_url' and not request.resolver_match.url_name == 'teacher_dashboard_url' and not request.resolver_match.url_name == 'courses_list_url' and not request.resolver_match.url_name == 'teacher_profile_url' and not request.resolver_match.url_name == 'teacher_all_url' and not request.resolver_match.url_name == 'courses_detail_url' %}	
				{% include "includes/_partials_hero.html" %}
			{% endif %}
		{% endif %}

		<main>
			{% block page_content %}
			
			{% endblock page_content %}
		</main>

		{% if not request.resolver_match.url_name == 'login_url' and not request.resolver_match.url_name == 'signup_url' %}
			{% include "includes/_partials_footer.html" %}
		{% endif %}
		
		{% include "includes/_static_javascript_link.html" %}
	</body>
</html>
