{% extends "index.html" %}

{% block page_content %}

    {% include "courses/snippets/_snippet_courses_header.html" %}

    <div class="pb-5 py-md-5">
        <div class="container">
            <div class="row">
                {% include "dashboard/teacher/partials/_partial_sidebar_teacher.html" %}

                <section class="col-lg-9 col-md-8 col-12">
                    {% block teacher_content %}
                        
                    {% endblock teacher_content %}
                </section>
            </div>
        </div>
    </div>

{% endblock page_content %}