{% if request.resolver_match.url_name == 'teacher_blog_url' or request.resolver_match.url_name == 'post_list' %}
<article class="{% if request.resolver_match.url_name == 'teacher_blog_url' %}col-xl-3 {% else %}col-xl-4 col-lg-4 {% endif %}col-md-6 col-12">
    <div class="card mb-4 card-hover">
        <a href="{{ object.get_absolute_url }}" class="card-img-top">
            <img src="{% if object.image %} {{ object.image.url }} {% else %}{{ STATIC_PREFIX }}img/cours/empty.jpg{% endif %}" class="card-img-top stretched-link" alt="{{ object.title }}">
        </a>

        <div class="card-body">
            <h3 class="h4 mb-2 text-truncate-line-2">
                <a href="{{ object.get_absolute_url }}" class="text-inherit">
                    {{ object.title|capfirst|safe }}
                </a>
            </h3>

            <p>{{ object.body|striptags|truncatewords:8 }}</p>

            <a href="{{ object.get_absolute_url }}" class="text-inherit text-primary font-weight-bolder">
                En savoir plus ...</a>
        </div>
    </div>
</article>
{% elif request.resolver_match.url_name == 'teacher_course_url' %}
{% include "courses/snippets/_snippet_course_card.html" %}
{% endif %}
