{% if latest_blog %}

<section class="pt-lg-4 pb-lg-3 pt-4 pb-6">
    <div class="container">
        <div class="row mb-4">
            <div class="col">
                <h2 class="mb-0">Articles récememnts ajoutés</h2>
            </div>
        </div>

        <div class="position-relative">
            <ul class="controls" id="sliderFirstControls">
                <li class="prev">
                    <i class="fe fe-chevron-left"></i>
                </li>
                <li class="next">
                    <i class="fe fe-chevron-right"></i>
                </li>
            </ul>

            <div class="sliderFirst">
                {% for blog in latest_blog %}
                    <div class="item">
                        {% include "blog/snippet/_snippet_post_card.html" with object=blog %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}
